/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
     
     
 }

 /* Common */
.container{
    width: 70%;
    margin: 0 auto;
}
img{
    width: 100%;
}
 body{
     font-family: sans-serif;
 }

/* Header */
 header {
     height: 70px;
     background-color: #ff5701;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;

 }
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
 }

ul{
    list-style-type: none;
}

}
/* Menu */
header ul {
    display: flex;
}
.main-menu li{
    margin-right: 10px;
}
.font li{
    margin-left: 10px;
}
header a {
    text-decoration: none;
}

.logo-boolando  img {
    height: 40px;
    width: auto;
}

/* Main */
main {
    margin-top: 130px;
}
.col{
    border: 1px solid red;
    width: calc((100% / 3) - 10px );
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {margin-top: 30px;
}

.products-image{
    background-color: pink;

}
 .hover-image {
     display: none;
 }

 .products-image:hover .main-image{
     display: none;
 }

 .products-image:hover .hover-image {
    display: inline-block;
}
.heart {
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 3px 7px;
}
.heart:hover {
    color: red;
    cursor: pointer;
}

    .labels {
        position: absolute;
        bottom: 40px;
        left: 0;
    }
    