/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 img {
     width: 100%;
     
     
 }

 /* Common */
 header {
     height: 70px;
     background-color: #ff5701;

 }
 .flex {
     display: flex;
 }
 .img-logo{
     width: 10%;
     margin: 0 auto;
 }
 
 .type{
     width: 70%;
     height: 70px;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
 }
 .woman,.men,.childs{
     color: white;
     padding: 10px 5px;
     margin-right: 50px;
 }

i {
    color: black;
}
.col-container{
    width: 75%;
    margin: 0 auto;

}
.col-1 {
    flex-direction: column;
}
.logo-boolean {
    justify-content: center;

}


.footer-boolando {
    width: 50%;
    height: 50%;
    background-color: black;
}
.col{
    width: calc(100% / 3 );
}